<h1 class="page-header text-center">
  JOGGER, PERSONAL JOGGING TRACKER
</h1>
<p class="text-justify">
    If you don’t have the time or money for gym memberships and exercises classes, you can still boost your health and get fit by jogging, which is simply running at an easy pace.
    According to the National Sporting Goods Association, jogging was one of the fastest growing sports from 2009 to 2010, with the number of people participating in the sport increasing by 10 percent.
</p>
<h3>BUILD STRONG BONES</h3>
<p class="text-justify">
    Unlike swimming and biking, jogging can make your bones stronger. The National Osteoporosis Foundation recommends 30 minutes of weight-bearing exercise, such as jogging, a day to help prevent osteoporosis.
</p>
<h3>BURN CALORIES</h3>
<p class="text-justify">
    Most people burn nearly 600 calories an hour jogging. According to Harvard Medical School, a 155 pound person jogging at a pace of 12 minutes per mile burns 298 calories every 30 minutes.
    That’s more calories than you’ll burn in the same amount of time dancing, doing aerobics, lifting weights or swimming.
</p>
<h3>LIVE LONGER</h3>
<p class="text-justify">
    A Copenhagen City Heart Study released in 2012 found regular jogging increases the life expectancy by 6.2 years for men and 5.6 years for women.
    To reap the maximum benefits of jogging, the study recommends jogging for 60 to 150 minutes per week at an easy to moderate pace.
    You should be running at a pace easy enough to talk, which makes jogging something you can do with a friend.
</p>
<h3>FIGHT THE FLU</h3>
<p class="text-justify">
    Your ability to fight the flu may increase if you’re a jogger. In a 2008 study involving three groups of mice, mice who jogged 20 to 30 minutes per day were better able to
    fight the flu virus than either sedentary mice or mice who’d run vigorously. (See reference 4) The scientists who conducted the study believe this is because moderate exercise,
    such as jogging, helps the body produce immune cells needed to fight infections.
</p>
<h3>EXERCISE ON YOUR SCHEDULE</h3>
<p class="text-justify">
    Jogging is one of the simplest forms of exercise. All you need is comfortable clothing and a good pair of running shoes. You don’t need to drive to the gym or spend a lot of money on gear.
    You can squeeze your jog in before work or on your lunch hour. You can even turn your workout into a social hour and jog with friends after work.
    You’ll skip the empty calories you’d consume at happy hour and get your workout done.
</p>
<h3>TIPS TO JOG BY</h3>
<p class="text-justify">
    Check with your doctor before starting any new exercise routine, especially if you have any recent injuries. You can avoid some injuries and pain just by jogging in shoes made specifically for running.
</p>
<hr />